@import "mocha.css";

/* Override Gtk defaults */
button:hover {
    box-shadow: none; 
    text-shadow: none;
    background: none; 
    transition: none; 
}

/* Global styles */
* {
  /* Font */
  font-family: SF Pro, JetBrains Mono Nerd;
  font-size: 15px;

  /* Margin */
  margin-top: 1.8px;
  margin-bottom: 1.8px;

  /* Border */
  border: none;
  border-radius: 15px;
}

/* Waybar */
window#waybar {
  all:unset;
}

/* Right Modules */
#network, 
#bluetooth, 
#battery, 
#wireplumber, 
#custom-power-menu {
  margin-left: 10px;
  min-width: 40px;
  padding: 0px 6px;
}

/* Left Modules */
#custom-arch,
#clock, 
#window {
  padding: 0px 7px 0px 8px;
  margin-left: 10px;
}

/* Displays */
#window,
#tray {
  color: @text;
  background-color: @base;
}

/* Network */
#network {
  color: @sky;
  background-color: @base;
  transition: background-color 0.5s ease, color 0.5s ease;

}

#network:hover {
  background-color: @sky;
  color: @base
}

/* Bluetooth */
#bluetooth {
  color: @yellow;
  background-color: @base;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#bluetooth:hover {
  background-color: @yellow;
  color: @base
}

/* Clock */
#clock {
  background-color: @base;
  color: @text;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Battery */
#battery {
  background-color: @base;
  color: @red;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#battery:hover {
  background-color: @red;
  color: @base
}

/* Music */
#media {
  background-color: @base;
  margin-left: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

#custom-prev,
#custom-next,
#mpris {
  min-width: 25px;
  transition: all 0.5s ease;
  background-color: @base;
}

#custom-prev:hover,
#custom-next:hover,
#mpris.menu:hover {
  background-color: @crust;
  color: @text;
}

#mpris:hover:not(.player):not(.menu) {
  background-color: @peach;
  color: @base;
}

/* Audio */
#wireplumber {
  color: @peach;
  background-color: @base;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#wireplumber:hover {
  background-color: @peach;
  color: @base
}

/* Powermenu */
#custom-power-menu {
  color: @pink;
  background-color: @base;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#custom-power-menu:hover {
  background-color: @pink;
  color: @base
}

/* Workspaces */
#workspaces {
  background-color: @base;
  border-radius: 15px;
}

#workspaces button {
  color: @sapphire;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 60px;
}

#workspaces button:hover {
  background-color: @crust;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#workspaces button.active {
  color: @green;
  transition: color 0.5s ease;
}

/* Others */
#custom-arch {
  color: @sapphire;
  font-size: 25px;
}

/* Tootltip */
tooltip {
  border-radius: 15px;
  background-color: @base;
}

tooltip label {
  font-family: SF Pro;
  font-size: 14px;
}

label:focus {
  background-color: @overlay0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}