@import "mocha.css";

/* Override Gtk defaults */
button:hover {
    box-shadow: none; 
    text-shadow: none;
    background: none; 
    transition: none; 
}

/* Global styles */
* {
  border: none;
  font-family: Iosevka Nerd Font;
  font-size: 16px;
}

window#waybar {
  all:unset;
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left {
  margin-left: 5px;
  border-radius: 8px;
}

/* Displays */
#window,
#tray {
  color: @text;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#cpu {
  color: @maroon;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#cpu:hover {
  background-color: @maroon;
  color: @surface0
}

#network {
  color: @sky;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;

}

#network:hover {
  background-color: @sky;
  color: @surface0
}

#bluetooth {
  color: @yellow;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#bluetooth:hover {
  background-color: @yellow;
  color: @surface0
}

#clock {
  background-color: @surface0;
  color: @sapphire;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#clock:hover {
  background-color: @sapphire;
  color: @surface0
}

#battery {
  background-color: @surface0;
  color: @red;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#battery:hover {
  background-color: @red;
  color: @surface0
}

#mpris-group {
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
}

#mpris {
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#mpris:hover {
  background-color: @peach;
  color: @surface0
}

#wireplumber {
  color: @peach;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#wireplumber:hover {
  background-color: @peach;
  color: @surface0
}

#custom-power-menu {
  color: @pink;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 7px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#custom-power-menu:hover {
  background-color: @pink;
  color: @surface0
}

/* Workspaces */
#workspaces button {
  color: @sapphire;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 9px;
  padding-right: 7px;
}

#workspaces button:hover {
  background-color: @crust;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#workspaces button.active {
  color: @green;
  transition: color 0.5s ease;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

tooltip {
  border-radius: 5px;
  background-color: @surface0;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  font-size: 14;
}

label:focus {
  background-color: @overlay0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}