@import "mocha.css";

/* Override Gtk defaults */
button:hover {
    box-shadow: none; 
    text-shadow: none;
    background: none; 
    transition: none; 
}

/* Global styles */
* {
  border: none;
  font-family: SF Pro, JetBrains Mono Nerd;
  font-size: 15px;
  margin-top: 1.8px;
  margin-bottom: 1.8px;
}

window#waybar {
  all:unset;
  /*background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 15px;*/
}

#waybar .module {
  min-width: 40px;
  padding: 0px 6px;
  margin-left: 10px;
  border-radius: 15px;
}

.modules-left {
  /* background-color: @base; */
  margin-left: 5px;
  border-radius: 15px;
}

.modules-center {
  background-color: @base;
  border-radius: 15px;
}

/* Displays */
#window,
#tray {
  color: @text;
  background-color: @base;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-arch {
  color: @sapphire;
  font-size: 25px;
}

#cpu {
  color: @maroon;
  background-color: @base;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#cpu:hover {
  background-color: @maroon;
  color: @base
}

#network {
  color: @sky;
  background-color: @base;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;

}

#network:hover {
  background-color: @sky;
  color: @base
}

#bluetooth {
  color: @yellow;
  background-color: @base;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#bluetooth:hover {
  background-color: @yellow;
  color: @base
}

#clock {
  background-color: @base;
  color: @text;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#battery {
  background-color: @base;
  color: @red;
  border-radius: 8px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#battery:hover {
  background-color: @red;
  color: @base
}

/* #mpris-group {
  background-color: @base;
  border-radius: 8px;
  padding-left: 8px;
} */
#media > * {
  margin-left: 0px;
  margin-right: 0px;
}

#custom-prev,
#custom-next,
#mpris.menu {
  min-width: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#custom-prev:hover,
#custom-next:hover,
#mpris.menu:hover {
  background-color: @crust;
  color: @text;
}

#mpris {
  background-color: @base;
  border-radius: 8px;
  padding-left: 8px;
  transition: all 0.5s ease;
}

#mpris:hover {
  background-color: @peach;
  color: @base;
}

#wireplumber {
  color: @peach;
  background-color: @base;
  border-radius: 8px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#wireplumber:hover {
  background-color: @peach;
  color: @base
}

#custom-power-menu {
  color: @pink;
  background-color: @base;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 7px;
  margin-right: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#custom-power-menu:hover {
  background-color: @pink;
  color: @base
}

/* Workspaces */
#workspaces button {
  color: @sapphire;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 60px;
}

#workspaces button:hover {
  background-color: @crust;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#workspaces button.active {
  color: @green;
  transition: color 0.5s ease;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

tooltip {
  border-radius: 5px;
  background-color: @base;
}

tooltip label {
  font-family: SF Pro;
  font-size: 14px;
}

label:focus {
  background-color: @overlay0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}