@import "mocha.css";


/* Global styles */
* {
  border: none;
  font-family: Iosevka Nerd Font;
  font-size: 13px;
}

window#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-left {
  margin-left: 5px;
  border-radius: 8px;
}

/* Displays */
#window,
#tray {
  color: @text;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#cpu {
  color: @maroon;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#network {
  color: @sky;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#bluetooth {
  color: @yellow;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#clock {
  background-color: @surface0;
  color: @sapphire;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#battery {
  background-color: @surface0;
  color: @red;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#mpris-group {
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
}

#wireplumber {
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#custom-power-menu {
  color: @pink;
  background-color: @surface0;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}


/* Workspaces */
#workspaces button {
  color: @sapphire;
  border-radius: 8px;
  margin: 8px 5px 8px 5px;
  padding-left: 8px;
  padding-right: 8px;
}

#workspaces button.active {
  color: @green;
  padding-left: 8px;
  padding-right: 8px;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

tooltip {
  border-radius: 15px;
  padding: 15px;
  background-color: #1f232b;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  padding: 5px;
}

label:focus {
  background-color: #1f232b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}
