* {
  font-family: Lexend, JetBrainsMono Nerd Font, Iosevka Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.2);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #64727d;
}

#window,
#temperature,
#cpu,
#custom-update,
#memory,
#custom-swaync,
#custom-media,
#tray,
#mode,
#custom-lock,
#workspaces,
#custom-power-menu,
#custom-launcher,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default {
  color: #e5e5e5;
  border-radius: 6px;
  padding: 0px 10px;
  background-color: #252733;
  border-radius: 8px;
  font-size: 14.5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

#cpu {
  color: #fb958b;
  background-color: #252733;
  padding: 0em 2em;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#memory {
  color: #a1c999;
  background-color: #252733;
  border-radius: 0px 8px 8px 0px;
  margin-left: 0px;
  padding: 0em 2em;
  padding-left: 7.5px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#temperature {
  color: #ecd3a0;
  background-color: #252733;
  border-radius: 8px 0px 0px 8px;
  margin-right: 0px;
  padding: 0em 2em;
  padding-left: 8px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#workspaces button {
  color: #7a95c9;
  box-shadow: inset 0 -3px transparent;
  padding-right: 1px;
  padding-left: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0.1em;
  margin-right: 0em;
}

#workspaces button.active {
  color: #ecd3a0;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 0em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-update {
  padding-left: 1px;
}

#custom-launcher {
  margin-left: 12px;
  padding-right: 18px;
  padding-left: 14px;
  font-size: 22px;
  color: #7a95c9;
  margin-top: 8.5px;
  margin-bottom: 8.5px;
}

#backlight,
#network {
  background-color: #252733;
  padding: 0em 2em;
  font-size: 20px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#mpris-group {
  background-color: #252733;
  border-radius: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
}

#clock-group {
  background-color: #252733;
  color: #8a909e;
  border-radius: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
}

#util-toggle-group {
  background-color: #252733;
  color: #ecd3a0;
  border-radius: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 8px;
  padding-right: 8px;
}

#power-profiles-daemon {
  padding-left: 5px;
}

#backlight.text {
  font-size: 14px;
  padding-left: 0px;
}

#backlight.icon {
  padding-right: 4px;
  padding-left: 5px;
}

#battery-group {
  background-color: #252733;
  color: #8fbcbb;
  border-radius: 0px 8px 8px 0px;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-left: 2px;
  padding-right: 2px;
}

#audio {
  background-color: #252733;
  border-radius: 8px 0px 0px 8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#pulseaudio {
  color: #81a1c1;
  padding-left: 9px;
  border-radius: 8px 0px 0px 8px;
}

#pulseaudio.muted {
  color: #fb958b;
  padding-left: 9px;
}

#pulseaudio.microphone.source-muted {
  color: #fb958b;
  padding-left: 9px;
}

#backlight {
  color: #ecd3a0;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 17.5px;
}

#network {
  padding-left: 12px;
  padding-right: 14px;
  color: #5e81ac;
  border-radius: 8px 0px 0px 8px;
  font-size: 20px;
}

#network.disconnected {
  color: #fb958b;
}

#battery.icon.critical,
#battery.icon.warning,
#battery.icon.full,
#battery.icon.plugged {
  color: #8fbcbb;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 18px;
}

#battery.text.critical,
#battery.text.warning,
#battery.text.full,
#battery.text.plugged {
  color: #8fbcbb;
  padding-left: 0px;
  padding-right: 4px;
  font-size: 14px;
}

#battery.icon.charging {
  font-size: 14px;
  padding-right: 5px;
  padding-left: 3px;
}

#battery.text.charging {
  font-size: 14px;
  padding-right: 4px;
  padding-left: 2px;
}

#battery.icon.full,
#battery.icon.plugged {
  font-size: 18.5px;
  padding-right: 4px;
}

#battery.text.full,
#battery.text.plugged {
  font-size: 14px;
  padding-right: 4px;
  padding-left: 0px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-lock {
  color: #ecd3a0;
  padding: 0 15px 0 15px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#custom-power-menu {
  color: #e78284;
  margin-right: 12px;
  border-radius: 8px;
  padding: 0 6px 0 6.8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

tooltip {
  border-radius: 15px;
  padding: 15px;
  background-color: #1f232b;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  padding: 5px;
}

label:focus {
  background-color: #1f232b;
}

#tray {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 26px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#custom-spotify {
  color: #abb2bf;
}

#custom-weather {
  font-size: 15px;
  color: #8a909e;
}

#custom-weather.severe {
  color: #eb937d;
}

#custom-weather.sunnyDay {
  color: #c2ca76;
}

#custom-weather.clearNight {
  color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
  color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
  color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
  color: #d6e7e5;
}

#custom-separator {
  font-size: 20px;
}

#custom-weather.default {
  color: #dbd9d8;
}
