@define-color foreground rgb({foreground.strip});
@define-color background rgb({background.strip});

@define-color color0 rgb({color0.strip});
@define-color color1 rgb({color1.strip});
@define-color color2 rgb({color2.strip});
@define-color color3 rgb({color3.strip});
@define-color color4 rgb({color4.strip});
@define-color color5 rgb({color5.strip});
@define-color color6 rgb({color6.strip});
@define-color color7 rgb({color7.strip});
@define-color color8 rgb({color8.strip});
@define-color color9 rgb({color9.strip});
@define-color color10 rgb({color10.strip});
@define-color color11 rgb({color11.strip});
@define-color color12 rgb({color12.strip});
@define-color color13 rgb({color13.strip});
@define-color color14 rgb({color14.strip});
@define-color color15 rgb({color15.strip});
