/************
 * Nautilus *
 ************/
.nautilus-window,
.nautilus-window notebook,
.nautilus-window notebook > stack {
  background-color: #1a1b26;
}

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
  color: rgba(204, 204, 204, 0.7);
}

@keyframes nautilus-operations-button-needs-attention {
  to {
    background-color: alpha(currentColor, 0.08);
  }
}

.nautilus-operations-button-needs-attention {
  animation: nautilus-operations-button-needs-attention 300ms cubic-bezier(0.4, 0, 0.2, 1) 2 alternate;
}

.nautilus-operations-button-needs-attention-multiple {
  animation: nautilus-operations-button-needs-attention 300ms cubic-bezier(0.4, 0, 0.2, 1) 6 alternate;
}

.linked:not(.vertical) > button:not(.suggested-action):not(.destructive-action):not(:only-child).disclosure-button {
  border-radius: 9999px;
}

.path-bar-box {
  transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
  margin: 4px 0;
  border-radius: 2px;
}

.path-bar-box button {
  margin: 0;
}

.path-bar-box.width-maximized {
  background-color: rgba(187, 187, 187, 0.04);
}

.path-bar-box.background.frame {
  border-style: none;
  background-color: rgba(187, 187, 187, 0.04);
}

.path-bar-box .path-bar button label:not(:only-child):first-child {
  margin-left: 0;
}

.path-bar-box .path-bar button label:not(:only-child):last-child {
  margin-right: 0;
}

.path-bar-box .nautilus-path-bar button:not(.suggested-action):not(.destructive-action) {
  padding-left: 4px;
  padding-right: 4px;
}

.path-bar-box .nautilus-path-bar button:not(.suggested-action):not(.destructive-action).text-button {
  min-width: 0;
}

.path-bar-box .nautilus-path-bar button:not(.suggested-action):not(.destructive-action) label:not(:only-child):first-child {
  margin-left: 0;
}

.path-bar-box .nautilus-path-bar button:not(.suggested-action):not(.destructive-action) label:not(:only-child):last-child {
  margin-right: 0;
}

.path-bar-box .nautilus-path-bar button:not(.suggested-action):not(.destructive-action).text-button.image-button image:not(:only-child) {
  margin: 0;
}

.nautilus-window .floating-bar {
  min-height: 32px;
  padding: 0;
  border-style: solid solid none;
  border-width: 1px;
  border-color: rgba(204, 204, 204, 0.12);
  border-radius: 3px 3px 0 0;
  background-color: rgba(20, 20, 22, 0.9);
}

.nautilus-window .floating-bar.bottom.left {
  margin-right: 7px;
  border-left-style: none;
  border-top-left-radius: 0;
}

.nautilus-window .floating-bar.bottom.right {
  margin-left: 7px;
  border-right-style: none;
  border-top-right-radius: 0;
}

.nautilus-window .floating-bar button {
  margin: 4px;
}

.disk-space-display.unknown {
  background-color: rgba(204, 204, 204, 0.3);
  color: rgba(204, 204, 204, 0.3);
}

.disk-space-display.used {
  background-color: #7aa2f7;
  color: #7aa2f7;
}

.disk-space-display.free {
  background-color: rgba(204, 204, 204, 0.08);
  color: rgba(204, 204, 204, 0.08);
}

.search-information {
  padding: 2px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.12);
  background-color: #1a1b26;
  color: #A9B1D6;
}

.conflict-row:not(:selected) {
  background-color: #5f5a27;
}

.nautilus-window flowboxchild .icon-item-background {
  padding: 4px;
  border-radius: 2px;
}

.nautilus-window flowboxchild:selected {
  background-color: transparent;
}

dialog.background > box.dialog-vbox.vertical > grid.horizontal > scrolledwindow.frame {
  border-style: none;
}

dialog.background > box.dialog-vbox.vertical > grid.horizontal > box.horizontal:last-child {
  margin: -6px 0 0 -6px;
  border-top: 1px solid rgba(204, 204, 204, 0.12);
}

dialog.background > box.dialog-vbox.vertical > grid.horizontal > box.horizontal:last-child > label {
  margin: 0 8px;
}

dialog.background > box.dialog-vbox.vertical > grid.horizontal > box.horizontal:last-child > box > button {
  border-radius: 0;
}

.nautilus-window > popover.menu:not(:last-child) {
  padding: 3px;
}

.nautilus-window > popover.menu:not(:last-child) > stack > box > box > box {
  margin-top: -6px;
}

.nautilus-window > popover.menu:not(:last-child) > stack > box > box > box > box {
  margin-bottom: -6px;
}

.nautilus-window > popover.menu:not(:last-child) > stack > box > box > box > box.linked {
  margin-top: 1px;
}

.nautilus-window > popover.menu:not(:last-child) separator {
  margin-bottom: -2px;
}

.nautilus-menu-sort-heading {
  margin: 1px 3px;
  font-weight: 500;
}

.nautilus-menu-sort-heading:disabled {
  color: rgba(204, 204, 204, 0.7);
}

.nautilus-window headerbar revealer > button {
  border-radius: 9999px;
}

.nautilus-window paned > separator {
  background-color: #16161e;
}
